---
import NotionPage from '../components/NotionPage.astro'
import { PAGE_URL1 } from '../server-constants'

const pageUrl = PAGE_URL1
---
<html lang="ja">
<head>
    <title>Notion Page</title>
<meta charset="UTF-8">
</head>
<body>
<div id="app">
    <NotionPage Url={pageUrl}/>
</div>
</body>
</html>
