---
import NotionPage from '../components/NotionPage.astro'
---
<html lang="ja">
<head>
    <title>Notion Page</title>
<meta charset="UTF-8">
</head>
<body>
<div id="app">
    <!-- <NotionPage PageId="ed984ea797bd4d9f947c078e12dd9aaf"/> -->
    <NotionPage Url="https://www.notion.so/Notion-1-ed984ea797bd4d9f947c078e12dd9aaf"/>
</div>
</body>
</html>