---
import NotionPage from '../components/NotionPage.astro'
---
<html lang="ja">
<head>
    <title>Notion Page</title>
<meta charset="UTF-8">
</head>
<body>
<div id="app">
    <NotionPage PageId=""/>
    <NotionPage Url=""/>
</div>
</body>
</html>