---
import NotionPage from '../components/NotionPage.astro'
import { PAGE_ID1 } from '../server-constants'

const pageId = PAGE_ID1
---
<html lang="ja">
<head>
    <title>Notion Page</title>
<meta charset="UTF-8">
</head>
<body>
<div id="app">
    <NotionPage PageId={pageId}/>
</div>
</body>
</html>
